# Node
node_modules*
npm-shrinkwrap.json
config/runtime.json
config/runtime*
app/*

# Ignored Extensions
*.diff
*.log
*.swp
*.rej

# IDEs
.cache
.project
.settings
.idea

# MongoDB
mongodb-dump

# Grunt
*/dist/

# Bower
app/bower_components

# Istanbul
coverage/

.DS_Store
*.zip
